apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rotiva-Labs-app
  namespace: argocd
spec:
  project: default
  destination:
    server: "https://kubernetes.default.svc"
    namespace: rotiva-Labs-app
  source:
    path: rotiva-labs-sample
    repoUrl: "https://github.com/shashi0396/Argo-CD.git"
    targetRevision: HEAD
# -----------kustomize as src manifest--------------------#
    kustomize:
      version: v3.5.4    # NOTE: Before using it, this needs to be added configmap of argocd
      commonLabels:
        app: demo
        appVersion: 1.0
      namePrefix: staging-
      images:
        - xxxxxxxxxxxx.ecr.ap-south-1.amazon.com/nginx-demo:latest


