apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rotiva-Labs-app
  namespace: argocd
spec:
  project: default
  destination:
    server: "https://kubernetes.default.svc"
    namespace: rotiva-Labs-app
  source:
    path: rotiva-labs-sample
    repoUrl: "https://github.com/shashi0396/Argo-CD.git"
    targetRevision: HEAD
# -----------helm-src-chart--------------------#
    helm:                                   
    releaseName: rotiva-labs-basechart
    valueFiles:
      - values.yaml  
# -----------kustomize as src--------------------#                                 
  # kustomize:                            # kustomize-use
  #   version: v1.3.1
    
