apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rotiva-Labs-app
  namespace: argocd
spec:
  project: default
  source:
    path: rotiva-labs-sample
    repoUrl: "https://github.com/shashi0396/Argo-CD.git"
    targetRevision: HEAD
  destination:
    server: "https://kubernetes.default.svc"
    namespace: rotiva-Labs-app
  directory:
    recurse: true  # Directory of Yaml
